<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
</head>
<body>
	<header class="site-navbar py-4 js-sticky-header site-navbar-target"
		role="banner" th:insert="fragments/header"></header>

	<main>
		<div class="site-section" id="programs-section">
			<div class="container">
				<div class="row mb-5 justify-content-center">
					<div class="col-lg-7 text-center" data-aos="fade-up"
						data-aos-delay="" style="margin-top: 50px">
						<h2 class="section-title">Developpez
							vos competences</h2>
						<p>Pour evoluer dans sa carriere professionnelle, il est
							indispensable de developper ses competences a travers des
							formations et son experience professionnelle.</p>
					</div>
				</div>
				<div class="row mb-5 align-items-center">
					<div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
						<img src="images/undraw_youtube_tutorial.svg" alt="Image"
							class="img-fluid">
					</div>
					<div class="col-lg-4 ml-auto" data-aos="fade-up"
						data-aos-delay="200">
						<h2 class="text-black mb-4">Une communaute sur laquelle vous
							pouvez compter</h2>
						<p class="mb-4">Faites partie d'une grande communaute de
							personnes qui, comme vous, cherchent a ameliorer leurs
							competences et a acquerir constamment des connaissances pour ce
							monde en constante evolution.</p>
					</div>
				</div>

				<div class="row mb-5 align-items-center">
					<div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up"
						data-aos-delay="100">
						<img src="images/undraw_teaching.svg" alt="Image"
							class="img-fluid">
					</div>
					<div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up"
						data-aos-delay="200">
						<h2 class="text-black mb-4">Enseignement continu</h2>
						<p class="mb-4">Une plateforme d'apprentissage concue pour
							tout le monde</p>
					</div>
				</div>

				<div class="row mb-5 align-items-center">
					<div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
						<img src="images/undraw_teacher.svg" alt="Image" class="img-fluid">
					</div>
					<div class="col-lg-4 ml-auto" data-aos="fade-up"
						data-aos-delay="200">
						<h2 class="text-black mb-4">Des formations innovantes</h2>
						<p class="mb-4">Nous presentons des formations qui prennnent
							en compte les changements du monde professionnelle .</p>
					</div>
				</div>

			</div>
		</div>


	</main>
	<br>
	<br>
	<footer class="footer-section bg-white" th:insert="fragments/footer">

	</footer>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/bootstrap-datepicker.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.fancybox.min.js"></script>
	<script src="js/jquery.sticky.js"></script>


	<script src="js/main.js"></script>
</body>
</html>
